* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    max-width: 100%;
}

/* header */
header {
    border-bottom: 1px solid hsl(252deg 8.2% 88.04%);
    z-index: 9999;
    background-color: white;
    position: fixed;
    width: 100%;
    margin: 0 auto;
    padding: 0% 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.top {
    display: flex;
    gap: 10px;
}

ul {
    list-style: none;
}

.anchor1 {
    text-decoration: none;
    color: black;
}

.bluebtn {
    color: white;
    background-color: hsl(217.23deg 99.22% 50%);
    padding: 5px 10px;
}

.list1-2 {
    display: flex;
    align-items: center;
    gap: 40px;
}

.logo {
    width: 130px;
    padding: 10px;
}

/* /header */

/* main */

/* hero */
.hero {
    background-color: hsl(206.4deg 50% 80.39%);
    margin: 0 auto;
    padding: 5% 15% 1% 15%;
    display: flex;
    justify-content: flex-start;
}

.hero2 {
    display: flex;
}

.maintitle {
    font-size: 70px;
    padding-bottom: 30px;
}

.arrowdown {
    width: 40px;
}

.heroimg {
    width: 70%;
}

.herotext {
    width: 30%;
    display: flex;
    align-items: start;
    flex-direction: column;
    line-height: 23px;
    gap: 30px;
}

/* /hero */
/* part 2 */
.part2 {
    padding: 10% 20%;
}

.title2 {
    font-size: 40px;
}

.choose {
    display: flex;
    gap: 40px;
    padding-top: 50px;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.col {
    width: calc(95% / 3);
}

.card1 {
    position: relative;
    margin-top: 50px;
    padding: 50px 0px 800px 0px;
    border: 1px solid hsl(252deg 8.2% 88.04%);
    max-height: 950px;
}

.card2 {
    display: flex;
    justify-content: space-between;
    position: relative;
    border: 1px solid hsl(252deg 8.2% 88.04%);
    margin-top: 60px;
    padding: 70px;
}

.icon1 {
    width: 15px;
}

.icon2 {
    width: 25px;
}

.icon3 {
    width: 15px;
}

.cardhead {
    border: 1px solid hsl(252deg 8.2% 88.04%);
    padding: 25px;
    position: absolute;
    width: 100%;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}

.cardbody1 {
    padding: 7%;
}

.month {
    color: grey;
    padding-bottom: 30px;
}

.cardherotitle {
    font-size: 30px;
}

.cardli {
    padding-bottom: 10px;
}

.card1btn {
    padding: 20px;
}

.card1bluebtn {
    padding: 10px;
}

.buy {
    padding: 30px;
    padding-left: 0;
}

.card1hr {
    width: 20%;
}

.card1list {
    padding: 30px;
    padding-left: 0;
}

.icons10 {
    width: 20px;
}

.icons11 {
    width: 15px;
}

.icons12 {
    width: 20px;
}

.selloff {
    padding: 10px;
}

/* /part 2 */
/* part 3 */
.part3 {
    display: flex;
    padding: 0 20%;
}

.partner {
    width: 650px;
}

.partnertext {
    display: flex;
    flex-direction: column;
    line-height: 20px;
    gap: 35px;
    padding: 60px 50px;
}

.partnertitle {
    font-size: 28px;
}

.partnerbtn {
    background-color: white;
    border: 1px solid black;
    color: black;
    text-decoration: none;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding: 10px;
}

/* /part 3 */
/* part 4 */

.part4 {
    padding: 10% 20%;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.grid2title {
    font-size: 40px;
}

.grid2titles {
    font-size: 20px;
}

.row1 {
    width: calc(90% / 3);
    position: relative;
    margin-top: 80px;
    padding: 200px 100px;
}
.card3 {
    position: absolute;
    top: 0;
    right: 0;
}

/* /part 4 */
/* part5 */
.dboxclient {
    padding: 0px 20%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-bottom: 80px;
}

.client {
    font-size: 40px;
    line-height: 50px;
}

/* /part5 */
/* footer1 */

.low-1 {
    display: flex;
    padding: 100px 20%;
    background-color: hsl(0deg 0% 0%);
    color: white;
    justify-content: space-between;

}

.lowlist {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.lowtitles {
    font-size: 20px;
}

.earth {
    width: 15px;
}

.low-2 {
    color: white;
    margin: 0;
    background-color: hsl(0deg 0% 0%);
    padding: 50px 20% 25px 20%;
}

.last {
    padding: 25px 25px 25px 0px;
    border-top: 1px solid white;
    width: 150px;
    text-decoration: none;
    color: white;
}